---
layout: default
title: Fagerlinds Tid
---


{% include sections/offer.html offer-text="<strong>B</strong><span class=\"thin\">oka</span> din escaperooom uplevelse nu!" button-text="boka" %}

{% include sections/about.html %}

{% include sections/snabbfakta.html %}


{% include sections/rum.html offer-text="<strong>B</strong><span class=\"thin\">oka</span> din escaperooom uplevelse nu!" button-text="boka" %}


{% include sections/parallax-features.html %}


{% include sections/parallax-features-2.html %}


{% include sections/about-escape.html %}


{% include sections/booking.html %}

{% include sections/hitta.html %}

{% include sections/faq.html %}

