<!-- about Section -->
<section class="site-section about-section gray-section next-section-indicator" id="about-escape">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.about-escape-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content" style="margin-bottom: 90px;">
        
        <p>{{ site.about-escape-description }}</p>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/sDkCPP56nZM" frameborder="0" allowfullscreen></iframe>
<!--           <iframe src="https://youtu.be/sDkCPP56nZM" allowfullscreen></iframe> -->
        </div>

      </div>

    </div>

  </div>
</section>
