<!-- Booking Section -->
<section class="site-section boking-section gray-section" id="boking"  data-scrollax-parent="true">

  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.contact-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.contact-description }}</p>



        <!-- caspeco instert -->
<div class="caspeco-show">

        <iframe src="https://api.caspeco.net/externalBookingClient/?publicID=7275881e0836663f6a7e7bf0264ac18d&unitID=17&sectionID=9" width="100%" height="700px">
        </iframe>

</div>


<div class="caspeco-show-2">


        <div class="row buttons-header">
          <div class="col-lg-3 col-lg-push-3 col-md-4 col-md-push-2 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1"><a href="https://api.caspeco.net/externalBookingClient/?publicID=7275881e0836663f6a7e7bf0264ac18d&unitID=17" class="button-cta button-block button-focus" target="_blank">{{ site.header-focus-button.title }}</a></div>



</div>



        <!-- caspeco out -->




      </div>

    </div>

    <!-- Form Container -->
    <div class="row form-container"></div>

  </div>

</section>

<!-- Google Map Embed -->

<section id="hitta-hit"  data-scrollax-parent="true">

  <div class="google-map">

    <script src="http://maps.googleapis.com/maps/api/js?key={{ site.key-api }}"></script>
    
    <div style='overflow:hidden;height:490px;width:100%;'>
        <div id='gmap_canvas' style='height:490px;width:100%;'></div>
    </div>

    <script type='text/javascript'>
        function init_map() {
            var myOptions = {
                zoom: 10,
                scrollwheel: false,
                center: new google.maps.LatLng( {{ site.map-lat }}, {{ site.map-lng }} ),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
            marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng( {{ site.map-lat }}, {{ site.map-lng }} )
            });
            infowindow = new google.maps.InfoWindow({
                content: '<span><strong>{{ site.map-text }}</strong><br>{{ site.map-text-location }}<br><span>'
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map, marker);
            });
            infowindow.open(map, marker);
        }
        google.maps.event.addDomListener(window, 'load', init_map);
    </script>

  </div>

</section>
