<!-- about Section -->
<section class="site-section about-section gray-section next-section-indicator" id="faq">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.faq-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content" style="
    margin-bottom: 90px;
">

<h4>Vilka öppettider har ni?</h4> <br>
<p>Vårt tidigaste rum går att boka klockan 10:00 och de senaste 22:00.
Vi har totalt 10 möjliga speltillfällen per dygn. All bokning sker via vår hemsida.
Restaurangens öppettider hittar ni här.</p>

<h4>Vad kostar ett spel?</h4><br>
<p>Det beror på storleken på er grupp.
2 personer – 350:- per person<br>
3 personer – 295:- per person<br>
4 personer – 275:- per person<br>
5 personer – 250:- per person<br>
6 personer – 225:- per person<br>

<h4>Vart ligger Örebro Escape Room?</h4><br>
<p>Vår adress är Kungsgatan 3 i Örebro,
vi delar lokal med restaurangen Makeriet.</p>

<b/><h4>Behöver jag vara jättesmart, stark, smidig och duktig på matematik för att spela?</h4></b>
<p>Nej. Det handlar om att kunna arbeta som lag och problemlösning. Det är inga svåra uträkningar som behövs göras eller IQ-tester. Inga pussel kräver att du kan klättra eller lyfta tungt eller dyl.</p>

<h4>Blir vi inlåsta på riktigt?</h4><br>
<p>Nej, dörren ut är alltid olåst och ni kan välja att lämna när ni vill.
När ska vi vara på plats och vad händer om vi kommer sent?
Var på plats 10-15 minuter innan bokad tid för genomgång av regler och rummet. Om ni anländer sent dras det på er speltid.</p>

<h4>Kommer vi tävla mot varandra?</h4><br>
<p>Nej, en stor del av nöjet med Escape Rooms är att man sammarbetar och jobbar som ett lag. Däremot kan ni komma i två lag och tävla mot varandra om vilka som klarar av ett rum på så kort tid så möjligt.</p>

<h4>Vad händer om vi inte löser rummet i tid?</h4><br>
<p>Efter 60 minuter är spelet slut, är ni fortfarande kvar i rummet släpps ni ut.</p>

<h4>Får vi ta med alkohol?</h4><br>
<p>Nej, på grund av alkoholtillståndet restaurangen har är det inte tillåtet att dricka medhavd alkohol. Men Makeriets bar går fint att besöka både före och efter ni spelat.</p>

<h4>Har ni någon åldergräns?</h4><br>
<p>För att spela våra rum ska du vara minst 18 år, eller 16 i vuxet sällskap.</p>

<h4>Hur betalar vi?</h4><br>
<p>Betalning sket på plats innan spelet börjar, vi tar bara emot kortbetalning.</p>

<h4>Går det att köpa presentkort hos er?</h4><br>
<p>Absolut! Du köper presentkortet på plats hos oss och väljer själv värdet.</p>

<h4>Får vi filma och fotografera i rummet när vi spelar?</h4><br>
<p>Nej. Vi vill behålla mystiken för andra som vill spela hos oss.</p>

<h4>Läs mer på Wikipedia.</h4><br>
<p><a href:"https://en.wikipedia.org/wiki/Escape_room">https://en.wikipedia.org/wiki/Escape_room"</a></p>

<br>
<br>


<section  id="kontakt">

<div>
<p>
<strong><u><h3>Kontakt</h3></u><br></strong>

För ytterligare frågor maila oss på <a href="mailto:info@makerietorebro.se" target="_top">info@makerietorebro.se</a>

</p>
</div>

</section>

<!-- 
        <p>{{ site.faq-description }}</p> -->
      </div>

<!-- 
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>Våra rum</h2>
        <hr class="normal">
      </header>
 -->

    </div>

  </div>
</section>
