<!-- about Section -->
<section class="site-section about-section gray-section" id="faq">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.faq-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content" style="margin-bottom: 90px;">

        <h4>Vilka öppettider har ni?</h4>
        <p>Det finns tider från 10:15 till 20:45. Alla tillgängliga spel hittar ni i bokningsformuläret. Bokning och betalning sker via hemsidan.<br><br><a href="http://www.makerietorebro.se/" target="_blank">Restaurangens öppettider hittar ni här.</a></p>

        <h4>Vad kostar ett spel?</h4>
        <p>Priset är 260:- per person, lägsta pris är dock 780:-<br>
        En spelgrupp kan vara 2 till 6 deltagare.</p>

        <h4>Vart ligger Fagerlinds Tid?</h4>
        <p>Kungsgatan 3, Örebro. Fagerlinds Tid delar lokal med restaurangen Makeriet.</p>

        <h4>Behöver jag vara stark, smidig, smart eller duktig på matte för att spela?</h4>
        <p>Nej. Det handlar om att kunna arbeta som lag och problemlösning.<br>
          Det är inga svåra uträkningar som behövs göras eller IQ-tester.<br>
          Inga pussel kräver att du kan klättra eller lyfta tungt eller dyl.</p>

       <h4>Så vem som helst kan spela?</h4>
        <p>Nej, tyvärr. Spelen har vissa fysiska begränsningar.<br>Något du undrar över? Maila och fråga.
          <br>Mailadress: <a href="mailto:kontakt@fagerlindstid.se"> kontakt@fagerlindstid.se</a></p>

        <h4>Har ni någon åldergräns?</h4>
        <p>Minst en person i sällskapet måste vara myndig. Rekommenderad lägsta-ålder i målsmans sällskap är 13 år.</p>

        <h4>Blir vi inlåsta på riktigt?</h4>
        <p>Nej, dörren ut är alltid olåst och ni kan välja att lämna när ni vill.</p>

        <h4>När ska vi vara på plats och vad händer om vi kommer sent?</h4>
        <p>Kom i tid! Innan spelstart får ni information och en genomgång av regler.<br>Anländer ni sent dras det på er speltid.</p>

        <h4>Kommer vi tävla mot varandra?</h4>
        <p>Nej, en stor del av nöjet med Escape Rooms är att man sammarbetar och jobbar som ett lag.Däremot kan ni komma i två lag och tävla mot varandra om vilka som klarar av ett rum på så kort tid så möjligt.</p>

        <h4>Vad händer om vi inte löser rummet i tid?</h4>
        <p>Efter 60 minuter är spelet slut, är ni fortfarande kvar i rummet släpps ni ut.</p>

        <h4>Får vi ta med alkohol?</h4>
        <p>Nej. Makeriets bar går dock att besöka både före och efter spelet.<br>
          Berusade tillåts ej att delta i spelet.</p>

        <h4>Hur betalar vi?</h4>
        <p>Betalning sker online i samband med bokning av spelet.</p>
        <p><b>Företag och faktura:</b> Om du vill betala med faktura behöver du skicka ett mail till <a href="mailto:kontakt@fagerlindstid.se"> kontakt@fagerlindstid.se</a>
I mailet skriver du hur många ni är, vilket rum eller om ni vill ha bägge rummen, datum och tid ni önskar boka (dubbelkolla formuläret så det är ledigt då) samt alla fakturauppgifter jag behöver. Fagerlinds Tid skickar endast digitala fakturor.
</p>
<p><b>Kan man boka bägge rummen?</b> Är ni mellan 7-12 personer som vill komma och spela samtidigt kan ni välja att boka bägge rummen samtidigt. Boka först ett av rummen och skicka sen ett mail till kontakt@fagerlindstid.se och säg att du önskar boka även andra rummet samma tid.
</p>
<p><b>Vi är fler än 12 personer som vill spela.</b><br>Är ni fler än 12 som vill spela rekommenderar jag Lådan.<a href="https://fagerlindstid.se/foretag.html#foretag">Läs mer om LÅDAN här.</a></p>

        <h4>Går det att köpa presentkort hos er?</h4>
        <p>Absolut! Du kan köpa och skriva ut presentkort online via bokningssystemet.<br><a href="https://bookeo.com/fagerlindstid/buyvoucher#boking">Följ den här länken och tryck på ”boka”</a> för att köpa presentkort.<br>
        <br> Det finns även fysiska presentkort. <a href="https://www.instagram.com/p/B5k59jxAhqq/" target="_blank">Kolla här på Instagram för bilder.</a></p> 

        <h4>Får vi filma och fotografera i rummet när vi spelar?</h4>
        <p>Nej. Vi vill behålla mystiken för andra som vill spela hos oss.</p>

        <h4>Hur vet jag att min bokning gått igenom?</h4>
        <p>Då har du fått en bokningsbekräftelse till den mailadress du angav.<br>Har du inte fått någon så dubbelkolla i inkorgen för skräppost.</p>


        <h4>Avbokningsregler</h4>
      <!--   <p>Avbokning skall ske senast 48 timmar innan bokad tid. Ombokning kan ske fram till 24 timmar innan bokad tid. En ombokning per sällskap är tillåten.</p>
         --><p>Läs mer om <u><a href="/bokningsregler.html#bokningsregler">bokningsvillkor</a></u>.</p>
         <!-- 
        <p>All om- eller avbokning sker till: <a href="mailto:info@fagerlindstid.se" target="_top"> info@fagerlindstid.se </a>. Ingen om- eller avbokning kan ske via restaurangen Makeriet.</p> -->

        <h4>Can I play your Escape Room even if I don’t understand swedish?</h4>
        <p>Yes</p>

        <h4>Läs mer på Wikipedia.</h4>
        <p><a href="https://en.wikipedia.org/wiki/Escape_room" target="_blank">https://en.wikipedia.org/wiki/Escape_room</a></p>

        <br>
        <br>
             
<!-- <section id="kontakt">
 -->
<!--         <h3>Kontakt</h3>
        <p>För ytterligare frågor maila oss på <a href="mailto:info@fagerlindstid.se" target="_top">info@fagerlindstid.se</a></p> -->

</section>

      </div>

    </div>

  </div>

</section>
