<!-- Booking Section -->
<section class="site-section boking-section gray-section" id="boking"  data-scrollax-parent="true">

  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.hitta-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.hitta-description }}</p>
      </div>

    </div>

  </div>

</section>
