<!-- about Section -->
<section class="site-section about-section gray-section" id="kontakt">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
<!--       <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.faq-title }}</h2>
        <hr class="normal">
      </header>
 -->
      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content" style="margin-bottom: 90px;">

        
        <h3>Kontakt</h3>
        <p>För ytterligare frågor maila oss på <a href="mailto:info@fagerlindstid.se" target="_top">info@fagerlindstid.se</a></p>
        

      </div>

    </div>

  </div>

</section>
