<!-- Booking Section -->
<section class="site-section boking-section gray-section" id="snabbfakta"  data-scrollax-parent="true">

  <!-- Parallax Contact Image -->
<!--   <div class="cover" data-scrollax="properties: { 'translateY': '48%' }">
    <img src="{{ site.baseurl }}/images/contact-image.jpg" alt="TKTK" />
  </div> -->

  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.snabbfakta-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>

<h4>BOKA</h4> <br>
<p>Hitta jag och tid som passar er i vår kalender och boka det rum ni vill spela.
Anländ till oss 10-15 minuter innan ert spel börjar.</p>

<h4>SAMARBETA</h4> <br>
<p>Spela i lag om 2-6 personer. Utmärkt för vännerna, familjen eller kollegorna.
Samarbete är nyckeln och er samlade påhittighet och list krävs.</p>

<h4>SPELA</h4> <br>
<p>Hitta dolda ledtrådar bland föremål i rummet för att lösa gåtor,
pussel och knäcka de koder som tar er vidare genom spelet.</p>

<h4>TÄVLA MOT KLOCKAN</h4> <br>
<p>Ni har bara 60 minuter på er att lyckas med ert uppdrag,
det är inte alla som hinner innan tiden runnit ut.</p>

<h4>BOKA</h4> <br>
<p>Hitta datum och tid som passar er i vår kalender och boka det rum ni vill spela.
Anländ till oss 10-15 minuter innan ert spel börjar.</p>

<h4>PÅ PLATS</h4> <br>
<p>Innan spelet får ni en snabb genomgång av säkerhetsregler.
Alla spelare ska även låsa in mobiler, kameror, väskor, datorer, actionkamera osv i vårt säkerhetsskåp. När alla spelare är redo startar vi tiden och era 60 minuter börjar ticka.</p>



          <!-- {{ site.snabbfakta-description }} -->

        </p>

<!-- caspeco instert -->


<!-- caspeco out -->


      </div>



    </div>

    <!-- Form Container -->
    <!-- <div class="row form-container"> -->









      <!-- OLD Contact Form -->
 <!--      <div class="col-md-8 col-md-push-2">
        <form id="sera-contact-form" action="https://formspree.io/{{ site.email }}" method="POST" class="contact-form container-fluid">
          <div class="col-md-6">
            <input type="text" name="name" placeholder="Name" />
          </div>
          <div class="col-md-6">
            <input type="text" name="website" placeholder="Website" />
          </div>
          <div class="col-md-6">
            <input type="text" name="email" placeholder="Email" />
          </div>
          <div class="col-md-6">
            <input type="text" name="subject" placeholder="Subject" />
          </div>
          <div class="col-md-12">
            <textarea name="message" rows="8" cols="40" placeholder="Message"></textarea>
          </div>
          <div class="col-md-12 form-action">
            <button type="submit" class="send-button">Send Message</button>
          </div>
        </form>
      </div>

    </div> -->

  <!-- </div> -->
</section>

</div>
