<!-- Booking Section -->
<section class="site-section boking-section gray-section" id="snabbfakta"  data-scrollax-parent="true">

  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.snabbfakta-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">

        <h4>BOKA</h4>
        <p>Hitta datum och tid som passar, i bokningssystemet, och boka det rum ni vill spela. Betalning sker i samband med tidsbokning, en bokning är bara giltig om betalning genomförts och en bokningsbekräftelse skickas till din mail. Kom i tid. Vid försening dras det på er speltid.</p>

        <h4>PÅ PLATS</h4>
        <p>Innan spelet får ni en genomgång av säkerhetsinstruktioner.
        Alla spelare ska även låsa in mobiler, kameror, väskor, lösa föremål osv i vårt säkerhetsskåp. När alla spelare är redo startar vi tiden och era 60 minuter börjar ticka.</p>

        <h4>SAMARBETA</h4>
        <p>Spela i lag om 2-6 personer. Utmärkt för vännerna, familjen eller kollegorna.
        Samarbete är nyckeln och er samlade påhittighet och list krävs.</p>

        <h4>SPELA</h4>
        <p>Hitta dolda ledtrådar bland föremål i rummet för att lösa chiffer,
        pussel och knäcka de koder och uppgifter som tar er vidare genom spelet.</p>

        <h4>TÄVLA MOT KLOCKAN</h4>
        <p>Ni har bara 60 minuter på er att lyckas med ert uppdrag,
        det är inte alla som hinner innan tiden runnit ut.</p>


      </div>

    </div>

  </div>

</section>
