---
layout: page
title: Bokningsregler
---

        
<p>Bokning är bara giltig om betalning genomförts med undantag för betalning med faktura eller presentkort.</p>
<p>Vi bokning med faktura eller presentkort ska bekräftelse skickas från Fagerlinds Tid.</p>
<p>För företag som betalar med faktura gäller samma bokningsvillkor.</p>
<p>För betalning med presentkort gäller samma bokningsvillkor.</p>
<p>Kom i tid för genomgång av regler och säkerhetsinstruktioner innan spelet.</p>
<p>Vid uteblivet besök återbetalas ingen deltagaravgift.</p>
<p>Vid uteblivet besök debiteras företag som valt att betala med faktura.</p>
<p>Vid uteblivet besök betalat med presentkort förbrukas det presentkortet.</p>
<p>Avbokning måste ske senast 48 timmar innan spelstart för återbetalning av bokningsavgift.</p>
<p>Ombokning måste ske senast 24 timmar innan spelstart. Ombokning får bara göras en gång per bokad tid.</p>
<p>Fagerlinds Tid förbehåller sig rätten att neka och/eller avisa uppenbart alkoholpåverkad deltagare från spelet.</p>
<p>Fagerlinds Tid förbehåller sig rätten av avisa deltagare som, trots varning från spelledaren, fortsatt uppvisa aggressivt beteende och/eller vårdslöshet mot inredning och/eller rekvisita. Detta utan återbetald deltagaravgift.</p>
<p>Om spelet skulle bli ospelbart på grund av deltagares vårdslöshet gentemot inredning och/eller rekvisita återbetalas ingen deltagaravgift och spelet kan komma att avbrytas.</p>
<p>Om deltagare med uppsåt och/eller vårdslöshet har sönder rekvisita och/eller inredning kan denne komma att bli återbetalningsskyldig.</p>
