<!-- Site Header -->
<header class="site-header parallax" id="home" data-scrollax-parent="true">

  <!-- Parallax Header Image -->
  <div class="parallax-wrapper">
    <div class="cover" data-scrollax="properties: { 'translateY': '48%' }">
      <img src="{{ site.baseurl }}/images/feature-top.jpg" alt="Sera - One Page Template by Gleesik Wallpaper" />
    </div>
  </div>

  <div class="container">

    <!-- Site Navigation Bar -->
    <div class="row site-navigation-bar parent">

      <!-- Toggle Mobile Menu -->
      <div class="col-xs-8 toggle-menu child-center-v">

        <!-- Burger -->
        <div class="navTrigger">
          <i></i><i></i><i></i>
        </div>

      </div>

      <!-- Navigation Bar -->
      <div class="col-sm-12 col-xs-12 navigation-bar child-center-v">

        <!-- Navigation Menu -->
        <nav id="navMenu" class="nav-menu">
          <ul class="menu">
<!--             <li><a href="../index.html">HEM</a></li> -->
            <li><a href="../index.html#about-escape">ESCAPE ROOM?</a></li>
            <li><a href="../index.html#parallax-features">RUM</a></li>
            <li><a href="../index.html#boking">BOKNING</a></li>
            <li><a href="../index.html#hitta-hit">HITTA</a></li>
            <li><a href="../index.html#footer"">KONTAKT</a></li>            
            <li><a href="../foretag.html#foretag" target="blank">FÖRETAG</a></li>
<!--             <li><a href="mailto:info@fagerlindstid.se">Contact</a></li> -->
            <li><a href="https://bookeo.com/fagerlindstid/buyvoucher#boking">PRESENTKORT</a></li>  
            <li><a href="../index.html#faq">FAQ</a></li>
          </ul>
        </nav>

<!-- OLD        <nav id="navMenu" class="nav-menu">
          <ul class="menu">
            <li class="current-menu-item"><a href="#home">HEM</a></li>
            <li><a href="#about-escape">VAD ÄR ESCAPE ROOM?</a></li>
            <li><a href="#snabbfakta">SNABBFAKTA</a></li>
            <li><a href="#parallax-features">VÅRA RUM</a></li>
            <li><a href="#boking">BOKNING</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#hitta-hit">HITTA HIT</a></li>
            <li><a href="#kontakt">KONTAKT</a></li>
            
          </ul>
        </nav> -->

      </div>


    </div>

    <!-- Site Header Banner -->
    <div class="row header-banner parent" data-scrollax="properties: { 'translateY': '48%', 'opacity': '1.4' }">

      <div class="heading-content text-center child-center-v">

        <!-- Heading Title -->
        <div class="row heading-title">

          <img class="top-logo" src="images/Fagerlind-logo.svg" alt="">

        </div>

        <!-- Header Buttons -->
        <div class="row buttons-header">
          <div class="col-lg-3 col-lg-push-3 col-md-4 col-md-push-2 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1"><a href="{{ site.header-focus-button.url }}" class="button-cta button-focus">{{ site.header-focus-button.title }}</a></div>
          <div class="col-lg-3 col-lg-push-3 col-md-4 col-md-push-2 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1"><a href="{{ site.header-secondary-button.url }}" class="button-cta">{{ site.header-secondary-button.title }}</a></div>
        </div>

      </div>

    </div>

  </div>
</header>
